
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blobDrift {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  50% {
    transform: translateX(50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

.blob-animated {
  animation: blobDrift 20s linear infinite;
}
